@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden
	color: $text
	input, textarea
		border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green


.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

b, strong
	font-weight: bold

h1,h2,h3,h4,h5,h6
	color: #333333
h1
	font-size: 54px
	font-weight: 700

h2
	font-size: 36px
	font-weight: 700
h3
	font-size: 22px
	font-weight: 600


header
	.sub-header
		background-color: $accent
		color: #fff
		height: 50px
		line-height: 50px
		a
			color: #fff
		i
			vertical-align: middle;
		.sub-header-contact-item
			padding-right: 30px
			i
				font-size: 24px
				height: 24px
				width: 24px
				padding-right: 15px
				color: $main
		.social-widget
			ul
				li
					display: inline-block
					list-style-type: none
					font-size: 18px
					padding-right: 20px
					a
						color: #a5a5a5
						&:hover
							color: $main



@import "media" // Always at the end
